body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: hsl(198, 19%, 89%);
    text-align: center;
    min-height: 100vh;
}

.App {
    padding: 50px;
}

form {
    display: flex;
    justify-content: center;

}

input  {
    width: 250px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    margin: 0px 10px;
    border: 0;
}

textarea {
    resize: none;
}

button {
    border: none;
}

.listOfNotes {
    margin-top: 20px;
    background: #74b9ff;
    padding: 20px;
    border-radius: 5px;
}

.friendContainer {
    border: 1px solid #dfe6e9;
    margin: 10px 0;
    padding: 1em 2em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.submit , .update {
    background: #0984e3;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.submit:hover {
    opacity: .7;
}

.btn-update {
    background : #00b894;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px ;

}
.btn-delete {
    background : #d63031;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px ;

}

h1 {
    margin-right: 10px;
}

